body {
    background-color: #191a19;
}

#movie-poster {
    display: inline-block !important;
}

.myform {
    display: inline-block !important;
    background-color: white;
}

.myText {
    background-color: white;
    margin-right: 250px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 100px;
    border-width: 0.2px;
    border-style: solid;
    border-color: gray;
    border-top: none;
    border-radius: 10px;
}

.input-field {
    top: 10px !important;
}

.movie {
    text-align: center;
}


/*star style*/


/* * {
    margin: 0;
    padding: 0;
} */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}


/*star style*/

nav {
    background-color: #2d2e2d;
}

.posterContainer {
    /* margin-left:70px; */
    text-align: center;
}

.blogContainer {
    display: none;
    background-color: white;
    margin-right: 250px;
    padding: 25px;
    border-width: 0.2px;
    border-style: solid;
    border-color: gray;
    border-top: none;
    border-radius: 10px;
}