body {
    background-color:#191a19;
}

#movie-poster {
    display: inline-block !important;
}

.myform {
    display: inline-block !important;
    background-color: white ;
}

.myText {
    background-color: white ;
    margin-right: 190px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 100px;

        border-width:0.2px;  
        border-style:solid;
      
        border-color:gray;
        border-top: none;
        border-radius: 10px;
    
  
}

.input-field {
top: 10px !important;
}

.movie{
    text-align: center;
}

nav {
    background-color: #2d2e2d;
}

.posterContainer {
    /* margin-left:70px; */
    text-align: center;
}

.blogContainer {
    display: none;
    background-color: white ;
    margin-right: 250px;
    padding: 25px;

        border-width:0.2px;  
        border-style:solid;
      
        border-color:gray;
        border-top: none;
        border-radius: 10px;
}